<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container p-0">
            <div class="row w-100">
                <div class="col-3">
                    <a class="navbar-brand" th:href="@{/profile}">Social</a>
                </div>
                <div class="col-9 right-col">
                    <form class="form-inline d-inline" action="/search/user" method="get">
                        <input class="form-control mr-sm-2 search-form" name="q"
                               type="search" placeholder="Search" aria-label="Search" required>
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <div class="nav-item float-right dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                aria-expanded="false" aria-haspopup="true" th:text="${userInfo.name}">
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/profile}">My profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/edit}">Edit</a>
                            <a class="dropdown-item" th:href="@{/settings}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item badge-danger" th:href="@{/logout}">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

</body>
</html>