$header-height: 50px;

header {
  .navbar {
    .row {
      margin-left: 0;

      .search-form {
        width: 250px;
        border-radius: 50px;
      }

      .dropdown{
        .nav-link {
          color: lightgray;
          padding-top: 0;
          font-size: 20px;
          position: relative;
          top: 5px;

          &[aria-expanded="true"] {
            color: white;
          }
        }

        .dropdown-item:active {
          background-color: black;
          color: white;
        }
      }
    }
  }
}


main {
  margin-top: 10px;

  .profile-image {
    height: 250px;
  }

  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.centered-form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  max-width: 250px;
}

.form-group {
  margin-bottom: 0;
}

.profiles-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .profile {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid lightgray;

    [class^=col] {
      margin: 0;
      padding: 0;
    }

    .profile-image-col img{
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;  
    }

    .profile-info-col {
        margin-left: -30px;
        margin-right: 0;
    }

    .profile-link {
      color: #222222;
    }
  }
}

.side-menu{
  .list-group{
    border: none;
    .list-group-item-action{
      border-radius: 0;
      border: none;
      border-left: 1px solid transparent;

      &.active{
        border-color: black;
        background-color: transparent;
        color: #222222;
      }
    }
  }
}