#pills-tab {
  padding: 10px;
  text-align: center;

  .nav-link {
    color: #222222;

    &.active {
      background-color: transparent;
      color: black;
      border-bottom: 1px solid black;
      border-radius: 0;

      &:hover{
        background-color: transparent;
      }
    }

    &:hover {
      background-color: #F8F9FA;
      border-radius: 0;
    }
  }
}
