.upload-button-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  height: 40px;

  .upload-button {
    position: absolute;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .upload-input {
    position: absolute;
    height: 40px;
    opacity: 0;
    z-index: -1;
  }
}