<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/core.css}">

    <style>
        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>

<div class="header" th:replace="/fragments/header :: header"></div>

<!-- TODO: beautify and add message date, add navigation between chat, chats and profile -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-3" th:insert="/fragments/side-menu :: side-menu">
            </div>
            <div class="col-9">
                <div th:if="${chat.users.size() == 2}"
                     th:with="users=${chat.users.toArray()},
                          otherUser=${users[0] == user ? users[1] : users[0]},
                            info=${userInfos.get(otherUser.id)}">

                    <div class="row">
                        <div class="col-2">
                            <a target="_blank" th:href="${'/profile/id' + otherUser.id}">
                                <img th:if="${info.image != null}"
                                     th:src="${'/file/' + info.image.id}">
                                <img th:if="${info.image == null}"
                                     th:src="@{/image/profileImage/default.png}">
                            </a>
                        </div>

                        <div class="col-10">
                            <a th:href="#{path.chat} + '/' + ${chat.id}">
                                <div th:text="${info.name + ' ' + info.surname}"></div>
                            </a>
                        </div>
                    </div>

                    Messages:
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>Photo</td>
                            <td>Name</td>
                            <td>Text</td>
                            <td>Time</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="message: ${chat.messages}">
                            <th:block th:unless="${message.sender == user}">
                                <td>
                                    <img th:if="${info.image != null}"
                                         th:src="${'/file/' + info.image.id}">
                                    <img th:if="${info.image == null}"
                                         th:src="@{/image/profileImage/default.png}">
                                </td>
                                <td th:text="${info.name}"></td>
                                <td th:text="${message.text}"></td>
                                <td th:text="${message.sendDate}"></td>
                            </th:block>
                            <th:block th:if="${message.sender == user}">
                                <td>
                                    <img th:if="${userInfo.image != null}"
                                         th:src="${'/file/' + userInfo.image.id}">
                                    <img th:if="${userInfo.image == null}"
                                         th:src="@{/image/profileImage/default.png}">
                                </td>
                                <td th:text="${userInfo.name}"></td>
                                <td th:text="${message.text}"></td>
                                <td th:text="${message.sendDate}"></td>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${chat.users.size() == 1}">
                    <!-- Self-dialog -->
                </div>
                <div th:if="${chat.users.size() > 2}">
                    <!-- Group chat -->
                </div>

                <form method="post" th:action="${'/chat/' + chat.id + '/send'}">
                    <div class="form-group">
                        <input class="form-control" name="text" type="text">
                        <button class="form-control" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>