<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body{
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="display-1 mb-5">Welcome to <b>Social</b>!</div>
        <div class="display-4 text-justify mb-5">
            It's the light core of social network.
            Here you can create account and change settings,
            find other users, add them as friends
            and send or receive messages</div>
        <a class="display-3  float-left" th:href="#{path.login}">Log in</a>
        <a class="display-3 float-right" th:href="#{path.register}">Register</a>
    </div>
</body>
</html>