<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${otherUserInfo.name + ' ' + otherUserInfo.surname}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/core.css}">
</head>
<body>

<div class="header" th:replace="/fragments/header :: header"></div>

<main>
    <div class="container">

        <div class="row">
            <div class="col-3" th:insert="/fragments/side-menu :: side-menu">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <div class="profile-image">
                            <img alt="" th:if="${otherUserInfo.image != null}"
                                 th:src="${'/file/' + otherUserInfo.image.id}">
                            <img alt="" th:if="${otherUserInfo.image == null}"
                                 th:src="@{/image/profileImage/default.png}">
                        </div>
                        <form class="form form-inline mt-2" method="post"
                              th:action="${'/profile/id' + otherUserInfo.id}" th:if="${relation.toString()=='NONE'}">
                            <input hidden name="change" type="text" value="subscribe">
                            <button class="btn btn-block btn-outline-info" type="submit">Subscribe</button>
                        </form>
                        <form class="form form-inline mt-2" method="post"
                              th:action="${'/profile/id' + otherUserInfo.id}" th:if="${relation.toString()=='UPCOMING_FRIEND_REQUEST'}">
                            <input hidden name="change" type="text" value="unsubscribe">
                            <button class="btn btn-block btn-outline-warning" type="submit">Unsubscribe</button>
                        </form>
                        <form class="form form-inline mt-2" method="post"
                              th:action="${'/profile/id' + otherUserInfo.id}" th:if="${relation.toString()=='INCOMING_FRIEND_REQUEST'}">
                            <input hidden name="change" type="text" value="acceptFriendRequest">
                            <button class="btn btn-block btn-outline-success" type="submit">Accept friend request</button>
                        </form>
                        <form class="form form-inline mt-2" method="post"
                              th:action="${'/profile/id' + otherUserInfo.id}" th:if="${relation.toString()=='FRIEND'}">
                            <input hidden name="change" type="text" value="deleteFriend">
                            <button class="btn btn-block btn-outline-danger" type="submit">Delete friend</button>
                        </form>
                    </div>
                    <div class="col-8">
                        <div class="content">
                            <h1>This is the page of
                                <span th:text="${otherUserInfo.name}"></span>
                                <span th:text="${otherUserInfo.surname}"></span>!
                            </h1>
                            <form method="post" th:action="${'/chat/' + otherUserInfo.id + '/open'}">
                                <input hidden name="id" th:value="${otherUserInfo.id}" type="text">
                                <button class="btn btn-dark" th:type="submit">Open chat</button>
                            </form>
                            <a th:href="#{path.profile}">Back to own profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>